*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.display {
  font-size: 8rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0 1rem;
}
